{% extends "::layout.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% block NasApp_body %}	
			 <form method="post" {{ form_enctype(form) }}>
				<div class="panel panel-primary">
					  <div class="panel-heading">
						<h3 class="panel-title">Nouvelle option</h3>
					  </div>
					  <div class="panel-body">				
								<div class="row">
									<div class="col-xs-6">
										<div class="input-group">
											<span class="input-group-addon">Libelle</span>
											{{ form_widget(form.libelle,  { 'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
									<div class="col-xs-6">
										<div class="input-group">
											<span class="input-group-addon">Prix</span>
											{{ form_widget(form.prix,  { 'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
							</div>
							<br>
					  </div>
				</div>				 
			 {{ form_rest(form) }}
			  <div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
				  <input type="submit" class="btn btn-primary" value="Enregistrer" class="btn btn-default"/>
				</div>
			  </div> 
			 </form>
	{% endblock %}
{% endblock %}