
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %} Tonic Manager {% endblock%}</title>
    
	{% block stylesheets %}
	  
    <link href="{{ asset('dist/css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ asset('dist/css/bootstrap.min.css') }}" rel="stylesheet">			
	<link href="{{ asset('dist/css/dashboard.css') }}" rel="stylesheet">
	<link href="{{ asset('dist/css/theme.css') }}" rel="stylesheet">			
	<link href="{{ asset('dist/css/jquery-ui.css') }}" rel="stylesheet">			
	<link href="{{ asset('dist/css/docs.min.css') }}" rel="stylesheet">			
				
	{% endblock %}
	
	{% block javascripts %}
	<script type="text/javascript" src="{{ asset('dist/js/bootstrap-datepicker.js') }}"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>   
	<script type="text/javascript" src="{{ asset('dist/js/bootstrap.min.js') }}"></script>	
	<script type="text/javascript" src="{{ asset('dist/js/docs.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('dist/js/jquery-1.9.1.js') }}"></script>
	<script type="text/javascript" src="{{ asset('dist/js/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script type="text/javascript" src="{{ asset('dist/js/bootstrap-tooltip.js') }}"></script>
	
	
	<script type="text/javascript" src="{{ asset('dist/js/jquery.tablesorter.min.js') }}"></script>		
    <script language="JavaScript">
		$(function() {		
		$("#myTable").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
		$("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
		});
        function imprime_zone(titre, obj) {
            // Définie la zone à imprimer
            var zi = document.getElementById(obj).innerHTML;

            // Ouvre une nouvelle fenetre
            var f = window.open("", "ZoneImpr", "height=1000, width=1000,toolbar=0, menubar=0, scrollbars=1, resizable=1,status=0, location=0, left=10, top=10");

            // Définit le Style de la page
            f.document.body.style.color = '#000000';
            f.document.body.style.backgroundColor = '#FFFFFF';
            f.document.body.style.padding = "10px";

            // Ajoute les Données
            f.document.title = "";
            f.document.body.innerHTML += " " + zi + " ";

            // Imprime et ferme la fenetre
            f.window.print();
            f.window.close();
            return true;
        }
		
		
		

	</script>	
	{% endblock %}

  </head>

  <body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		  <li>
			<img src="{{ asset('dist/images/tonicmanager.png') }}" style="width:90px;">
		  </li>
            <li><a href="{{path('tonicmanagerAppBundle_homepage')}}"><span class="icon-home" ></span> Accueil</a></li>
			
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-copy"></span> Client <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{path('tonicmanagerAppBundle_ajoutContrat')}}">Nouveau clients</a></li>
                <li><a href="{{path('tonicmanagerAppBundle_listeClient')}}">Liste des clients</a></li>
                <li><a href="#">Rechercher un client</a></li>
              </ul>
            </li>
			<li><a href="{{path('tonicmanagerAppBundle_admin')}}"><span class="glyphicon glyphicon-cog" ></span> Admin</a></li>			
          </ul>
		  <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
			{% block printDevis %}
		
			{% endblock %}
        </div><!--/.nav-collapse -->
      </div>
</div>
	
<!-- Main jumbotron for a primary marketing message or call to action -->
	  	{% block titleAction %}
		{% endblock %}
		{% block body %}
		{% endblock %}
	
	
	<div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Julien Rochart - 2014 - V2</p>
      </div>
    </div>
	
	<!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	

	
  </body>
</html>
