<div class="panel panel-primary">
  <div class="panel-heading">
	<h3 class="panel-title">Rechercher un client</h3>
  </div>
  <div class="panel-body">
		<form method="post" action="{{path('tonicmanagerAppBundle_rechercheClient')}}" {{ form_enctype(form) }}>
			<!-- Text input-->
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">{{ form_label(form.nom, "Nom : ") }} </label>
				<div class="col-sm-2">
					{{ form_widget(form.nom,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">{{ form_label(form.dateNaissance, "Date naissance : ") }} </label>
				<div class="col-sm-4">
					{{ form_widget(form.dateNaissance) }}
				</div>
			</div>					
			{{ form_rest(form) }}
			
			
			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
		</form>
  </div>
</div>	

