{% extends "TonicmanagerAppBundle::layout.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}

{% block NasApp_body %}	
<form method="post" {{ form_enctype(form) }} class="form-horizontal">

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Informations client</h3>
	</div>
	<div class="panel-body">        
		<div class="row">
			<div class="col-xs-2">
				<div class="input-group">
					<span class="input-group-addon">Civilité <span style="color:red;">*</span></span>
					{{ form_widget(form.client.civilite,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>		
			<div class="col-xs-5">
				<div class="input-group">
					<span class="input-group-addon">Nom <span style="color:red;">*</span></span>
					{{ form_widget(form.client.nom,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group">
					<span class="input-group-addon">
						Prénom <span style="color:red;">*</span>
					</span>
					{{ form_widget(form.client.prenom,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Adresse <span style="color:red;">*</span></span>
					{{ form_widget(form.client.adresse,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>	
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon">Ville <span style="color:red;">*</span></span>
					{{ form_widget(form.client.ville,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-2">
				<div class="input-group">
					<span class="input-group-addon">Cp <span style="color:red;">*</span></span>
					{{ form_widget(form.client.cp,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>	
		</div>			
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">
						Date de naissance <span style="color:red;">*</span>
					</span>
					{{ form_widget(form.client.dateNaissance,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">
						Lieu de naissance <span style="color:red;">*</span>
					</span>
					{{ form_widget(form.client.lieuNaissance,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">E-mail</span>
					{{ form_widget(form.client.email,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>			
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">
						Telephone
					</span>
					{{ form_widget(form.client.telephone,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">
						Portable <span style="color:red;">*</span>
					</span>
					{{ form_widget(form.client.portable,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon">Photo</span>
					{{ form_widget(form.client.photo,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>	
			<div class="col-xs-8">
				<div class="input-group">
					<span class="input-group-addon">Commentaire</span>
					{{ form_widget(form.commentaire,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>			
		</div>
	</div>
</div>	

<div class="panel panel-primary" id="prospect">
	<div class="panel-heading">
		<h3 class="panel-title">Prospect</h3>
	</div>	
	<div class="panel-body">	
		<div class="row">
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon">Prospect <span style="color:red;">*</span></span>
					{{ form_widget(form.client.prospect,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>	
			<div class="col-xs-8">
				<div class="input-group">
					<span class="input-group-addon">Date 1er visite</span>
					{{ form_widget(form.client.dateProspect,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>				
		</div>
	</div>	
</div>	


<div class="panel panel-primary" id="infoAbo">
	<div class="panel-heading">
		<h3 class="panel-title">Informations abonnement</h3>
	</div>
	<div class="panel-body">				
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Abonnement</span>
					{{ form_widget(form.abonnement,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Date de debut</span>
					{{ form_widget(form.dateStart,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>									
		</div>
		<br>
		<div class="row" id="dateDial">					
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Mode de paiement</span>
					{{ form_widget(form.modePaiement,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>					
			<div class="col-xs-6">
				<div class="input-group" id="dateFin">
					<span class="input-group-addon">Date de fin</span>
					<div class="datepicker">
					{{ form_widget(form.dateEnd,  { 'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Client doit</span>
					{{ form_widget(form.clientDoit,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Incident de paiement</span>
					{{ form_widget(form.incidentPaiement,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>					
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Droit entrée</span>
					{{ form_widget(form.droitEntree,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>	
			<div class="col-xs-6">
<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Option</h3>
      </div>
      <div class="panel-body">
        {{ form_widget(form.supp,  { 'attr': {'class': 'checkBox'}}) }}
      </div>
    </div>
			</div>
		</div>
	</div>
</div>	


<div class="panel panel-primary" id="infoBanque">
	<div class="panel-heading">
		<h3 class="panel-title">Informations banquaire</h3>
	</div>
	<div class="panel-body">				
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Nom du bénéficiare</span>
					{{ form_widget(form.banque.nomBeneficiare,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Titulaire</span>
					{{ form_widget(form.banque.titulaire,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">					
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Nom de la banque</span>
					{{ form_widget(form.banque.nom,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Adresse</span>
					{{ form_widget(form.banque.adresse,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Ville</span>
					{{ form_widget(form.banque.ville,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">Code postal</span>
					{{ form_widget(form.banque.cp,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>					
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">IBAN</span>
					{{ form_widget(form.banque.iban,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-group">
					<span class="input-group-addon">BIC</span>
					{{ form_widget(form.banque.bic,  { 'attr': {'class': 'form-control'}}) }}
				</div>
			</div>			
		</div>
	</div>
</div>			 
{{ form_rest(form) }}
<div class="form-group">
	<div class="col-sm-offset-4 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Enregistrer" class="btn btn-default"/>
	</div>
</div> 

</form>

{# ------------------------------------------------------- JS ------------------------------------------------------------------#}

<script type="text/javascript">
    // keep track of how many email fields have been rendered
	jQuery(document).ready(function() {
		$( "#tonicmanager_appbundle_contrat_client_prospect" ).change(function() {
		  var prospect = $( "#tonicmanager_appbundle_contrat_client_prospect option:selected").val();
		  if(prospect == 'oui')
		  {
			$('#infoBanque').hide();
			$('#infoAbo').hide();
			$('#infoAbo :input').removeAttr('required');
			$('#infoBanque :input').removeAttr('required');
		  }
		  else
		  {
			$('#infoBanque').show();
			$('#infoAbo').show();
			$('#infoAbo :input').attr('required', 'required');
			$('#infoBanque :input').attr('required', 'required');
		  }
		});
		
		jQuery('.datepicker').datepicker();
	})

		
</script>



{% endblock %}
