{% extends "TonicmanagerAppBundle::layout.html.twig" %}
{% block title %}
	{{ parent() }}
{% endblock %}


	{% block NasApp_body %}	
		
		
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Fiche {{contrat.client.id}} : {{contrat.client.nom}}</h3>
	</div>
	<div class="panel-body">
	
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				{% if contrat.client.photo != "" %}
					<img src="/TonicManager/web/uploads/img/{{contrat.client.photo}}">
				{% endif %}
			  <div class="caption">
				<h3>Informations client</h3>
				<p>
				
				
					<div class="input-group">
						<span class="input-group-addon">Nom</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.nom}}">
					</div>	
					<br>
					<div class="input-group">
						<span class="input-group-addon">Prénom</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.prenom}}">
					</div>	
					<br>
					<div class="input-group">
						<span class="input-group-addon">E-mail</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.email}}">
					</div>	
					<br>
					<div class="input-group">
						<span class="input-group-addon">Adresse</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.adresse}}">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Ville</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.ville}}">
					</div>	
					<br>
					<div class="input-group">
						<span class="input-group-addon">Code postal</span>
						<input type="text" id="disabledTextInput" class="form-control" readonly="readonly" value="{{contrat.client.cp}}">
					</div>	
					
				</p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-10 col-md-6">
				<h3>Informations contrat</h3>
				<p>
					Abonnement : {% if contrat.abonnement.type is defined %}{{contrat.abonnement.type}} {% endif %}<br><br>
					Date de début : {{contrat.dateStart|date('d/m/Y')}}<br><br>
					Date de fin : {{contrat.dateEnd|date('d/m/Y')}}<br><br>
					Mode de paiement : {{contrat.modePaiement}}<br><br>
					Commentaire : {{contrat.commentaire}}<br><br>
				</p>
				<h3>Option(s)</h3>
				<p>
					<ul>
					{% for option in contrat.Supp %}	
						<li>{{option.libelle}}</li>
					{% endfor  %}
					</ul>
				</p>
		  </div>
		  <div class="col-sm-12 col-md-2">
				<div class="btn-group-vertical">
				  
				  <a href="{{path('tonicmanagerAppBundle_editContrat', {'idContrat': contrat.id})}}" class="btn btn-warning">Editer</a>
				  <div class="btn-group">
					<button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					  Imprimer
					  <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
					  <li><a href="#">Contrat</a></li>
					  <li><a href="#">Autorisation</a></li>
					  <li><a href="#">test</a></li>
					</ul>
				  </div>

				</div>
		  </div>
		</div>	
	</div>
</div>		
		
		
		
	{% endblock %}
